/* Desktop/mobile stuff */

@media all and (min-width: 960px) {
    body {
        width: 50%;
        max-width: 700px;
    }
}

/* General*/

body {
    background-color: #2d4069;
    color: white;
    margin: auto;
    padding-top: 10%;
}

h2 {
    color:  yellow;
}

/* Input fields and displays */

#inputs {
    display: flex;
}

input[type=text] {
    min-width: 2em;
    margin-right: 2%;
    flex-grow: 1;
}

input#button {
    color: white;
    width: 30%;
}

#present {
    font-size: 2em;
    font-weight: bold;
    color: yellow;
    float: left;
}

#score {
    font-size: 1em;
    float: right;
    font-size: 2em;
    font-weight: bold;
    color: #05ca57;
}

/* Correct/Incorrect answers */

.default {
    background-color: white !important;
    color: black;
    font-weight: normal;
}

.correct {
    background-color:  #05ca57 !important;
    color: black;
    font-weight: normal;
}

.incorrect {
    background-color: #ff7474 !important;
    color: black;
    font-weight: bold;
}

/* Progress bar */

#progress {
    display: grid;
    grid-auto-columns: repeat(10, 1fr);
    grid-template-rows: 20px;
    gap: 3%;
    margin-bottom: 2em;
}

.progress-item {
    background-color: white;
    color: black;
    border-radius: 4px;
}

.hidden {
    visibility: hidden;
}